body {
    background-color: #dec6c6;
}
h1 {
    text-align: center;
    color: rgb(1, 1, 1);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}
.navbar {
    background-color: gray;
}

.navbar ul {
    list-style: none;
}
.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
}